<div class="banner">
  <h1>YOUR MOVIES LISTS</h1>
</div>

<div class="container">
  <p><%= link_to "ADD LIST", new_list_path, class: 'p-1 mb-2 btn btn-flat' %></p>
</div>

<div class="container">
  <div class="row cards">
    <% @lists.each do |list| %>
      <div class="col-4-sm">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('list_background.jpg') %>)">
            <h3><%= link_to list.name, list_path(list)%></h3>
          </div>
        </div>
      <% end %>
    </div>
</div>
